<div class="table-responsive">
  <table class="table table-striped table-sm">
  

        <thead>
          <h3>Orders</h3>
          <tr>
            <th>id</th>
            <th>Customer</th>
            <th>Item</th>
        <th>price</th>
          </tr>
        </thead>
        <tbody>
         <!-- <tr *ngFor="let mydata of data[0]">
            <td>{{mydata.id}}</td>
            <td>{{mydata.firstname}}</td>
        <td>{{mydata.email}}</td>
        <td>{{mydata.mobile}}</td>
          </tr>-->


          <tr>
            <td>1</td>
            <td>sali</td>
            <td>dishwash</td>
            <td>200</td>

          </tr>
        </tbody>
      </table>
    

</div>
